server/cache/*
server/db/*

server/resources/\[assets\]/**/*.ytd
server/resources/\[assets\]/**/*.yft
server/resources/\[assets\]/**/*.ydr
server/resources/\[assets\]/**/*.ybn
server/resources/\[assets\]/**/*.ymap
server/resources/\[assets\]/**/*.ymt
server/resources/\[assets\]/**/*.ymf
server/resources/\[assets\]/**/*.ytyp
server/resources/\[assets\]/**/*.dds
server/resources/\[assets\]/**/*.rpf
server/resources/\[assets\]/**/*.zip
server/resources/\[assets\]/**/*.ypt
server/resources/\[assets\]/**/*.ycd
server/resources/\[assets\]/**/*.ydd
server/resources/\[assets\]/**/*.awc
server/resources/\[assets\]/**/*.rel
server/resources/\[assets\]/**/*.nametable
server/resources/\[assets\]/**/*.png
server/resources/\[assets\]/**/*.psd
server/resources/\[assets\]/**/*.bak
server/resources/\[assets\]/**/*.yed
server/resources/\[assets\]/**/*.yld
server/resources/\[assets\]/**/*.odd
server/resources/\[assets\]/**/*.cwproj
server/resources/\[assets\]/**/*.ynv
server/resources/\[assets\]/**/*.dat151
server/resources/\[assets\]/**/*.dat54
server/resources/\[assets\]/**/*.dat10
server/resources/\[assets\]/**/*.wav
server/resources/\[assets\]/**/*.dat
server/resources/\[assets\]/**/*.oac
server/resources/\[assets\]/**/*.txt
server/resources/\[assets\]/**/*.skel
server/resources/\[assets\]/**/*.gxt2
server/resources/\[assets\]/**/*.md
server/resources/\[assets\]/**/*.json
server/resources/\[assets\]/**/*.gfx
server/resources/\[assets\]/**/*.xml
server/resources/\[assets\]/**/*.yml
server/resources/\[assets\]/**/*.gitkeep
server/resources/\[assets\]/**/*.gitattributes

# Remove some txData From Github
txData/default/data/*
artifacts/*

# Remove .history and .log files from github
*.history
*.log
server/ddos.cfg
# start_6736_default.bat
server/server.cfg
