@media (width: 3840px) and (height: 2160px) {
    .success {
        background-color: rgba(142,224,116, 80%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        /* border-left: 0.5rem solid #20bb44; */
        font-size: 1.5vh;
    }

    .primary {
        background-color: rgba(114,137,218, 80%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        /* border-left: 5px solid #1c75d2; */
        font-size: 1.5vh;
    }

    .error {
        background-color: rgba(245,161,91, 80%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        /* border-left: 5px solid #c10114; */
        font-size: 1.5vh;
    }

    .police {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        /* border-left: 5px solid #2197f2; */
        font-size: 1.5vh;
    }

    .ambulance {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        /* border-left: 5px solid #f44236; */
        font-size: 1.5vh;
    }

}

.success {
    background-color: rgba(142,224,116, 80%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 0.5rem solid #20bb44; */
}

.primary {
    background-color: rgba(114,137,218, 80%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #1c75d2; */
}

.warning {
    background-color: #ff9800;
    border-radius: 5px;
    border: 1px solid #ffc107;
}

.error {
    background-color: rgba(245,161,91, 80%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
}

.police {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #2197f2; */
}

.ambulance {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #f44236; */
}

.green {
    background-color: rgba(0, 125, 100, 80%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 0.5rem solid #20bb44; */
}

.blue {
    background-color: rgba(0, 141, 179, 80%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #1c75d2; */
}

.red {
    background-color: rgba(109, 0, 0, 80%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
}

.yellow {
    background-color: rgba(255, 251, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
    color: #000000 !important;
}

.orange {
    background-color: rgba(255, 123, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
}

.black {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
}

.purple {
    background-color: rgba(195, 0, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
}

.pink {
    background-color: rgba(255, 0, 212, 0.8);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
}

.white {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    /* border-left: 5px solid #c10114; */
    color: #000000 !important;
}